<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coel.codyn"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.Camera.autofocus" />

    <application
        android:name=".CodynApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 文件加密服务 -->
        <service
            android:name=".FileCryptoService"
            android:enabled="true"
            android:exported="true"
            android:permission=".CRYPTO_FILE"
            android:priority="1000" />

        <!-- 登录活动 -->
        <activity
            android:name=".ActivityLogin"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ActivityMain" />

        <activity
            android:name=".ActivityRegister"
            android:label="@string/register"
            android:parentActivityName=".ActivityLogin" />

        <!-- 主活动 -->
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 编辑密钥活动 -->
        <activity
            android:name=".ActivityAddEditKey"
            android:parentActivityName=".ActivityMain" />

        <activity
            android:name=".ActivityScanQR"
            android:parentActivityName=".ActivityMain" />

        <activity
            android:name=".ActivityDisplayQR"
            android:parentActivityName=".ActivityMain" />


    </application>

</manifest>